html{
	scroll-behavior: smooth;
}
h1{
		font-family: Georgia, Times New Roman, serif;
		color: #384bb4;
		text-decoration: overline;
		text-shadow: 2px 1px green;
	}
h2{
  text-align:center;
  text-decoration: overline;
  color: pink;
  text-shadow: 2px 1px white;
  }

h3{
	font-family: Georgia, Times New Roman, serif;
	color: #384bb4;
}

b.topPlace{
	padding: 5px;
	margin: 3px;
	vertical-align: middle;
	border: 1px dashed black;
	background-color: #797EF6;
}

strong, b{
	text-shadow: 2px 1px black;
}
  p, blockquote{
	  color: white;
	  text-shadow: 0px 1px orange;
  }
  
  

	.ToDo{
		color: white;
		text-shadow: 0px 1px orange;
		border: 1px dashed black;
		padding: 1.3em;
		clear: left;
	}
  
  .listContainer{
	  text-align: center;
  }
  ol.myOL{
	  display: inline-block;
	  text-align: center;
	  font-family: Georgia, Times New Roman, serif;
	  color: #384bb4;
	  padding: 3px;
}

.clearFixContainer{
	overflow: auto;
	border: 2px solid green;
}

img.flags, img.flags:hover{
	float: left;
	width: 250px;
	height: 210px;
	margin: 1em;
}

.icon, .icon:hover{
	width: 30px;
	height: 30px;
	vertical-align: middle;
	margin: 10px;
}

.con{
	vertical-align: middle;
}
  
img.smallPictures, img.smallPictures:hover{
	margin: 20px;
	width: 250px;
	height: 200px;
	border-radius:0px;
	transition: 0.3s;
}

img.place{
	width: 750px;
	height: 550px;
	border-radius:0px;
	transition: 0.3s;
}

img.place:hover{
	width: 750px;
	height: 550px;
	
	padding:5px;
	-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	transform: none;
}

img{
	width: 900px;
	height: 550px;
	border-radius:0px;
	transition: 0.3s;
}
img:hover{
	width: 900px;
	height: 550px;
	
	padding:5px;
	-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	transform: none;
	}
body{
  background-image:linear-gradient(to top right, #797EF6, #ffcceb);
  background-image:url("Image/DreamBG.png");
  background-position:center;
  background-attachment: fixed;
  color:#5c6dc9;
  font-family:Verdana, Sans-serif;
}

.bg{
	height:100%;
}

a:link{
	color: green;
	text-decoration: underline;
	display: inline-block;
	transition: 0.1s;
}

a:visited{
	color: #4c00b0;
	text-decoration: underline;
	display: inline-block;
}

a:active{
	color: blue;
	text-decoration: none;
	
}

a:hover{
	color: orange;	
	text-decoration: none;
}
