html{
	scroll-behavior: smooth;
}
img{
	width: 250px;
	height: 250px;
	padding: 8px;
	border-radius:50px;
	float: left;
	margin-top: 15px;
	margin-bottom: 10px;
}

h1{
		font-family: Georgia, Times New Roman, serif;
		color: #384bb4;
		text-decoration: overline;
		text-shadow: 2px 1px green;
	}
h2{
  text-align:left;
  text-decoration: underline;
  }
body{
  background-image:linear-gradient(to top right,#797EF6, #ffcceb);
  color:#5c6dc9;
  font-family:Verdana, Sans-serif;
}
ul.Class{
        background: #3399ff;
        padding: 5px;
		list-style-position: inside;
      }
ul.Class li{
        background: #cce5ff;
        margin left: 2px;
		list-style-position: inside;
}
		
ol.Class{
        background: #cce5ff;
        margin left: 1px;
		list-style-position: inside;
}
		
ol.Class li{
        background: #cce5ff;
        margin left: 1px;
		list-style-position: inside;
}

a:link{
	color: green;
	text-decoration: underline;
	display: inline-block;
	transition: 0.3s;
}

a:visited{
	color: #4c00b0;
	text-decoration: underline;
	display: inline-block;
}

a:active{
	color: blue;
	text-decoration: none;
	
}

a:hover{
	color: orange;	
	text-decoration: none;
}
