html{
	scroll-behavior: smooth;
}
img.a{
	width: 200px;
	height: 150px;
	padding: 15px;
	opacity: 1;
	border-radius:20px;
	transition: 0.3s;
}

img.b{
	width: 150px;
	height: 100px;
	padding: 15px;
	border-radius:20px;
	float: left;
}

img.c{
	width: 150px;
	height: 100px;
	padding: 15px;
	border-radius:20px;
	float: right;
}

img:hover{
	opacity:0.80;
}

body{
  background-image:linear-gradient(to top right,#797EF6, #ffcceb);
}
